{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted </th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: Loop through the database entries to display them in this table -->
        {% for history in histories%}
            <tr>
                <th class="text-start">{{ history["symbol"].upper() }}</th>
                <th class="text-end">{{ history["share"] }}</th>
                <th class="text-end">{{ history["price"] | usd}}</th>
                <th class="text-end">{{ history["transacted"] }}</th>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
