{% extends "layout.html" %}

{% block title %}
    Atbash
{% endblock %}

{% block main %}
<div class="heads container my-5 pt-5">
    <h1 class="para-title">What Is Atbash Cipher?</h1>
    <p class="para-cipher">The Atbash scipher is a simple one, it is a cipher that uses substitution which reversess the alphabet, so that A becomes Z, B becomes Y. It is one of the oldest cipher in the world; if not, the oldest. It was originally used to encrypt the Hebrew alphabet. It is seen as a special case of the affine cipher, where the formula is <b>a = b = (m -1)</b>, where <b>m</b> is the length of the alphabet</p>

    <h1 class="mt-5 para-title">History</h1>
    <p class="para-cipher">Atbash cipher the oldest known cipher in the world, dating back to 500 bce. The Hebrew scribes used it to encode messages in the Bible and other texts. The Atbash cipher was later adopted by other cultures, such as the Romans and Greeks, to encode messages in their languages.</p>

    <h1 class="mt-5 para-title">How Secure Is It?</h1>
    <p class="para-cipher">The Atbash Cipher is not considered secure by modern cryptographic standards. It is easily broken using brute force. The Atbash cipher does not use a key, making it easy to encode and decode messages quickly, but also its patterns are easily detected. It is just a simple and straight-forward method of text encryption. It is only used in fun and education settings, not for high levels of security.</p>
</div>
{% endblock %}
