{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="heads container my-5 pt-5">
    <h1 class="text-center">Welcome to Enkrip</h1>
    <p class="h7 text-center">Learn more about <b>Cryptography</b></p>
  </div>

  <div class="container">
    <div class="row gy-5 justify-content-center">
      <!-- All these images below were created with microsoft image creator (Dall-e)-->
      <div class="col-xl-3 col-lg-9 col-md-10">
        <div class="card">
          <img src="/static/_08cd2a72-1f94-4c26-8ca4-efc23bb535a0.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Atbash Cipher</h5>
            <p class="card-text text-center">The first known cipher</p>
            <a href="/ciphers/atbash" class="btn btn-outline-light btn-sm">
              Learn more
            </a>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-9 col-md-10">
        <div class="card">
          <img src="/static/_47f120ba-14ba-49af-baa3-eb78244a7dc0.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Tools</h5>
            <p class="card-text text-center">Encryptions and decryptions</p>
            <button class="btn btn-outline-light dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/tools/encryptor">Encryptor</a></li>
              <li><a class="dropdown-item" href="/tools/decryptor">Decryptor</a></li>
              <li><a href="/tools/chatbot" class="dropdown-item">AI Chatbot</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-9 col-md-10">
        <div class="card">
          <img src="/static/_c2fa0b41-eb15-46d5-b319-32f16c2bc114.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">AI Chatbot</h5>
            <p class="card-text text-center">Cryptography tailored ChatGPT</p>
            <a href="/tools/chatbot" class="btn btn-outline-light btn-sm">
              Chat now
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container py-4  ">
    <div class="row gy-5 justify-content-center">

      <div class="col-xl-6 col-lg-9 col-md-10" style="height: 335px ;">
        <div class="card">
          <img src="/static/1200x630bb.png" class="card-img-top" style="height: 65%" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">This Is CS50</h5>
            <p class="card-text text-center">Special thanks to the people behind CS50 and its community!</p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-9 col-md-10">
        <div class="card">
          <img src="/static/_2500b7d2-632e-4360-a872-f662d251feb0.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">Articles</h5>
            <p class="card-text text-center">Search for articles about cryptography </p>
            <a href="/articles" class="btn btn-outline-light btn-sm">
              Search
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
