{% extends "layout.html" %}

{% block title %}
    README
{% endblock %}

{% block main %}
<div class="heads container my-5 pt-5">
    <h1 class="para-title">What Is Scytale Cipher?</h1>
    <p class="para-cipher">The Scytale Cipher is one of the earliest known cryptographic methods, used primarily by the Spartans in Greece for military secret communication. It's a type of transposition cipher, meaning the letters of a message are rearranged without subsituting them. The name is from the tool used, scytale is some sort of rod, a leather strip that contain the message is attached to it. </p>

    <h1 class="mt-5 para-title">History</h1>
    <p class="para-cipher">The earliest indirect references to the scytale cipher appear in 7th century BC within the poetry of Archilochus, a Greek poet. The first detailed description of its cryptographic use finally appears in the writings of Plutrach (50-120 AD). But there is a catch to all this, there hasn't been an actual scytale from ancient Greece to ever been found by archeologists.</p>

    <h1 class="mt-5 para-title">How Secure Is It?</h1>
    <p class="para-cipher">The scytale was reasonably secure for its time, but modern standards have changed quite a bit, it's weak and broken now. Its concept was simple to understand and implement. Especially when it was an era filled with illiterate people back then. The security of it relies heavily on the diamter of the rod, which is its physical key, only someone who has the rod of the exact same diameter can decipher the message.</p>
</div>
{% endblock %}
